mixin testimonials()
    section.testimonials#testimonials
        .container
            .flexslider.slider
                ul.slides.slider__list
                    li.slider__item
                        .slider__image-wrap
                            img(src="img/dawson-m.jpg" alt="Michael Dawson").slider__image
                        blockquote.slider__quote-wrap
                            p.slider__quote.
                                “I am so happy because I found this recipe, and it just made my life easier.
                                Thanks  so much for sharing!”
                            footer.slider__author
                                cite - Michael Dawson, San Francisco, CA -
                    li.slider__item
                        .slider__image-wrap
                            img(src="img/dawson-m.jpg" alt="Michael Dawson").slider__image
                        blockquote.slider__quote-wrap
                            p.slider__quote.
                                “I am so happy because I found this recipe, and it just made my life easier.
                                Thanks  so much for sharing!”
                            footer.slider__author
                                cite - Michael Dawson, San Francisco, CA -
                    li.slider__item
                        .slider__image-wrap
                            img(src="img/dawson-m.jpg" alt="Michael Dawson").slider__image
                        blockquote.slider__quote-wrap
                            p.slider__quote.
                                “I am so happy because I found this recipe, and it just made my life easier.
                                Thanks  so much for sharing!”
                            footer.slider__author
                                cite - Michael Dawson, San Francisco, CA -

