mixin about(data)
    section.about#about
        .container.about__container
            ul.about__list
                each item in data
                    li.about__item(data-aos="bounceInUp")
                        .about__icon
                            +svg-icon(item.image[0], item.image[1], item.image[2])
                        h2.title.title--center= item.title
                        .text.text--center
                            p= item.text