.about {
    padding: 100px 0 94px;

    &__container {
        max-width: 1214px;
        /*padding: 0 13px;*/
    }

    &__list {
        width: 100%;

        @media (min-width: 768px) {
            display: flex;
            /*justify-content: space-between;*/
            /*flex-wrap: wrap;*/
        }
    }

    &__item {
        width: 100%;
        margin-bottom: 50px;

        @media (min-width: 768px) {
            /*max-width: 364px;*/
            margin-bottom: 0;

            &:not(:last-child) {
                margin-right: 46px;
            }
        }
    }

    &__icon {
        position: relative;
        width: 107px;
        height: 107px;
        margin: 0 auto 20px;
        border: 2px solid black;
        border-radius: 50%;
    }
}