mixin about()
    section.about#about
        .container
            ul.about__list
                li.about__item
                    .about__icon
                        i.icon.icon--gamburger.icon--center
                    h2.title.title--center Get inspired
                    .text.text--center
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipisc
                            Pellentesque vel enim a elit viverra elementuma.
                            Aliquam erat volutpat.
                li.about__item
                    .about__icon
                        i.icon.icon--money.icon--center
                    h2.title.title--center Get rewarded
                    .text.text--center
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipisc
                            Pellentesque vel enim a elit viverra elementuma.
                            Aliquam erat volutpat.
                li.about__item
                    .about__icon
                        i.icon.icon--cook.icon--center
                    h2.title.title--center Get social
                    .text.text--center
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipisc
                            Pellentesque vel enim a elit viverra elementuma.
                            Aliquam erat volutpat.



