.nav {
    padding: 35px;
    background: #161616;
    font-size: 0.875rem;
    text-transform: uppercase;

    &__close-wrapper {
        text-align: right;
    }

    &__close {
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 900;

        &:hover {
            color: $main-color;
        }
    }

    &__list {
        margin: 15px 0;
        padding: 0;
    }

    &__item {
        border-bottom: 1px solid #818181;
    }

    &__link {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 15px;

        &:hover {
            color: $main-color;
        }
    }
}