.nav {
    padding: 35px;
    font-size: 0.875rem;
    text-transform: uppercase;
    background: #161616;

    &__close-wrapper {
        text-align: right;
    }

    &__close {
        font-size: 1.2rem;
        font-weight: 900;
        color: #fff;
        text-decoration: none;

        &:hover {
            color: $main-color;
        }
    }

    &__list {
        margin: 15px 0;
        padding: 0;
        letter-spacing: 0.05em;
    }

    &__item {
        border-bottom: 1px solid #818181;
    }

    &__link {
        display: block;
        padding: 15px;
        color: #fff;
        text-decoration: none;

        &:hover {
            color: $main-color;
        }
    }
}