mixin nav(data)
    nav.nav#nav
        .nav__close-wrapper
            a(href="#").nav__close x
        ul.nav__list
            each item in data
                li.nav__item
                    a(href="#" + item).nav__link= item