.title {
    position: relative;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 30px;

    &:after {
        content: '';
        @include left();
        background: $main-color;
        width: 88px;
        height: 1px;
        bottom: -10px;
    }

    &--center {
        text-align: center;

        &:after {
            @include center-x();
        }
    }
}