.title {
    position: relative;
    margin: 0 0 20px;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    &:after {
        content: '';
        @include left();
        bottom: -8px;
        width: 88px;
        height: 1px;
        background: $main-color;
    }

    &--center {
        text-align: center;

        &:after {
            @include center-x();
        }
    }
}