.app {
    background: #f7f7f7;
    padding: 102px 0;

    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__left {
        margin: 0 auto 50px;

        @media (min-width: 768px) {
            width: 55%;
            margin: 0;
            padding-right: 120px;
        }
    }

    &__right {
        @media (min-width: 768px) {
            width: 45%;
        }
    }

    &__image-wrap {
        overflow: hidden;

        @media (min-width: 768px) {
            margin: 0 0 -102px -28px;
        }
    }

    &__image {
        width: 100%;
        max-width: 320px;
        margin: 0 0 -180px;

        @media (min-width: 768px) {
            max-width: 548px;
        }
    }

    &__text {
        margin-bottom: 30px;
    }

    &__icon-link {
        text-decoration: none;
        margin-right: 10px;
    }
}