mixin app()
    section.app#app
        .container
            .app__wrap
                .app__left
                    .app__image-wrap
                        img(src="img/iphone.png" alt="iPhone" data-aos="slideInUp").app__image

                .app__right(data-aos="fadeIn")
                    h2.title Introducing the fudi app

                    .app__text.text
                        p.
                            Morbi eget posuere dolor. Pellentesque cursus aliquet aliquet. Aeneanet
                            felis sit amet diam mollis ullamcorper. Nullam consequat sem a ante vest
                            ibulum tristique. Suspendisse tristique lacus ac mattis porta.

                        p.
                            Vivamus ligula quam, vehicula non lacinia sed, faucibus sit amet libero. In
                            libero dui, eleifend eu nisi id, egestas fringilla odio. In varius quam a mas
                            sa hendrerit ullamcorper a eu justo. Suspendisse porta mattis convallis.
                            Aenean tempus ligula ac odio rhoncus, quis aliquam dolor accumsan.

                        p.
                            Suspendisse aliquet felis consectetur libero congue, sed pulvinar diam
                            malesuada. Duis vehicula a nibh id hendrerit. Donec sit amet ultrices
                            ante, a mattis massa.

                    .app__icons
                        a(href="#").app__icon-link
                            img(src="img/appstore.png" alt="App Store" data-aos="bounceIn")
                        a(href="#").app__icon-link
                            img(src="img/googleplay.png" alt="Google play" data-aos="bounceIn")
