.app {
    padding: 102px 0;
    background: #f7f7f7;

    &__container {
        max-width: 1220px;
        /*padding: 0 10px;*/
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__left {
        margin: 0 auto 60px;

        @media (min-width: 768px) {
            /*width: 530px;*/
            width: 45%;
            /*margin: 0 0 0 5px;*/
            margin: 0;
        }
    }

    &__right {
        @media (min-width: 768px) {
            /*width: 545px;*/
            width: 55%;
            padding-top: 79px;
            padding-left: 50px;
        }

        @media (min-width: 992px) {
            padding-left: 109px;
        }
    }

    &__image-wrap {
        overflow: hidden;

        @media (min-width: 768px) {
            /*margin: 0 0 -102px -24px;*/
            margin: 0 0 -102px -19px;
        }
    }

    &__image {
        width: 100%;
        max-width: 320px;
        /*margin: 0 0 -177px;*/
        margin-bottom: -105px;

        @media (min-width: 768px) {
            max-width: 548px;
            margin-bottom: -177px;
        }
    }

    &__text {
        margin-bottom: 24px;
    }

    &__icon-link {
        display: inline-block;
        margin-right: 10px;
        text-decoration: none;
    }
}