mixin footer()
    footer.footer
        .container.footer__container
            .footer__wrapper
                .footer__copy.
                    &copy;2014 Fudi. All Rights Reserved.
                .footer__designby.
                    design by: #[a(href="www.bekades.com" target="_blank").footer__link www.bekades.com]