.footer {
    background: #F7F7F7;
    padding: 41px 0;
    color: #8b8b8b;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__copy {
        font-size: 0.875rem;
        font-weight: 300;
    }

    &__designby {
        font-size: 0.875rem;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__link {
        text-decoration: none;
        color: #000;

        &:hover {
            color: darken($main-color, 5%);
        }
    }
}
