.footer {
    padding: 38px 0 41px;
    background: #f7f7f7;
    color: #8b8b8b;

    &__container {
        padding-right: 11px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__copy {
        margin-bottom: 20px;
        margin-right: 60px;
        font-size: 0.875rem;
        font-weight: 300;

        @media (min-width: 576px) {
            margin-bottom: 0;
        }
    }

    &__designby {
        font-size: 0.875rem;
        font-weight: 400;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

    &__link {
        text-decoration: none;
        color: #000;

        &:hover {
            color: darken($main-color, 5%);
        }
    }
}
