.text {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    line-height: 26px;

    &--center {
        text-align: center;
    }

    p {
        margin: 0 0 40px;

        &:last-child {
            margin: 0;
        }
    }
}