include head/head
include header/header
include nav/nav
include about/about

doctype html
html(lang="ru")

    block nav
        +nav()

    .page.push

        block head
            head
                +head({
                    "title": "Fudi",
                    "author": "Bekades",
                    "description": "Find your favorite recipes"
                })

            body#home
                block header
                    +header()

                block about
                    +about()


                block scripts
                    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

                    // build:js js/bigSlide.js
                    script( src="js/bigSlide.js")
                    // endbuild

                    // build:js js/jquery.nav.js
                    script( src="js/jquery.nav.js")
                    // endbuild

                    // build:js js/main.js
                    script( src="js/main.js")
                    // endbuild





