include head/head
include header/header
include nav/nav

doctype html
html(lang="ru")

    block nav
        +nav()

    .page.push

        block head
            head
                +head({
                    "title": "Fudi",
                    "author": "Bekades",
                    "description": "Find your favorite recipes"
                })

            body#home
                block header
                    +header()

                block content
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


                block scripts
                    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

                    // build:js js/bigSlide.js
                    script( src="js/bigSlide.js")
                    // endbuild

                    // build:js js/jquery.nav.js
                    script( src="js/jquery.nav.js")
                    // endbuild

                    // build:js js/main.js
                    script( src="js/main.js")
                    // endbuild





