.header {
    background: fixed url(../img/header-bg.jpg) center/cover no-repeat;
    /*min-height: auto;*/

    @media (min-width: 576px) {
        min-height: 880px;
    }

    &__top {
        text-align: center;

        @media (min-width: 576px) {
            display: flex;
            justify-content: space-between;
            /*text-align: left;*/
        }
    }

    &__logo {
        position: relative;
        top: 0;
        left: 0;

        @media (min-width: 576px) {
            top: -2px;
            left: -30px;
        }
    }

    &__links {
        font-family: $main-font;
        font-size: 0.875rem;
        font-weight: 700;
        text-transform: uppercase;

        @media (min-width: 576px) {
            margin: 0;
            line-height: 110px;
        }
    }

    &__link {
        margin-left: 30px;
        text-decoration: none;
        color: #FFF;
        text-shadow: 0px 0px 40px rgba(0,0,0,0.55);

        &:hover {
            color: darken($main-color, 5%);
        }
    }

    &__nav-toggle {
        fill: #fff;

        &:hover{
            fill: darken($main-color, 5%);
        }
    }

    &__content {
        padding: 150px 0;
        text-align: center;
        color: #FFF;

        @media (min-width: 576px) {
             padding: 245px 0 240px;
        }
    }

    &__about {
        font-family: 'Times New Roman';
        font-size:  1.5rem;
        font-weight: 700;
        font-style: italic;
        margin-bottom: 28px;
        text-shadow: 0px 0px 40px rgba(0,0,0,0.55);

        @media (min-width: 480px) {
            font-size:  2.25rem;
        }
    }

    &__title {
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 40px;
        text-shadow: 0px 0px 40px rgba(0,0,0,0.55);

        @media (min-width: 480px) {
            font-size: 6.25rem;
        }
    }

    &__text {
        font-size: 0.875rem;
        text-transform: uppercase;
        text-shadow: 0px 0px 40px rgba(0,0,0,0.55);
        line-height: 1.4;
    }

    &__text-link {
        color: #FFF;
        font-weight: 700;

        &:hover {
            color: darken($main-color, 5%);
            text-decoration: none;
        }
    }

    &__button {
        margin-bottom: 40px;
    }
}