mixin header()
    header.header
        .container
            .header__top
                .header__logo
                    a(src="")
                    img(src="img/logo.png" alt="Logo")
                .header__links
                    a(href="#").header__link Log&nbsp;in
                    a(href="#").header__link Sign&nbsp;up
                    a(href="#menu").header__link
                        svg(width="14" height="10" viewBox="0 0 14 10").header__nav-toggle
                            rect(y="0" width="14" height="2")
                            rect(y="4" width="14" height="2")
                            rect(y="8" width="14" height="2")
            .header__content
                .header__about Find your Favorite
                h1.header__title recipes
                button.button.button--transparent.header__button Get started
                .header__text or send us your own recipes and #[a(href="#").header__text-link get rewarded]!
