.header {
    color: #fff;
    background: fixed url(../img/header-bg.jpg) center/cover no-repeat;
    /*min-height: auto;*/

    @media (min-width: 576px) {
        min-height: 880px;
    }

    &__top {
        text-align: center;

        @media (min-width: 576px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__logo {
        display: block;
        position: relative;
        top: 0;
        left: 0;

        @media (min-width: 576px) {
            top: 0px;
            left: -31px;
        }
    }

    &__links {
        font-family: $main-font;
        font-size: 0.875rem;
        font-weight: 700;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);

        @media (min-width: 576px) {
            line-height: 110px;
        }
    }

    &__link {
        margin-left: 26px;
        text-decoration: none;
        color: #fff;

        &:hover {
            color: darken($main-color, 5%);
        }
    }

    &__content {
        padding: 150px 0;
        text-align: center;

        @media (min-width: 576px) {
            padding: 237px 0 220px;
        }
    }

    &__about {
        margin: 0 0 6px 22px;
        font-family: 'Times New Roman', sans-serif;
        font-size:  1.5rem;
        font-weight: 700;
        font-style: italic;
        letter-spacing: 0.05em;
        text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);
        opacity: 0.7;

        @media (min-width: 576px) {
            font-size: 2.25rem;
        }
    }

    &__title {
        margin: 0 0 30px;
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);

        @media (min-width: 576px) {
            font-size: 6.25rem;
        }
    }

    &__text {
        font-size: 0.875rem;
        line-height: 1.4;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);
    }

    &__text-link {
        font-weight: 700;
        color: #fff;

        &:hover {
            text-decoration: none;
            color: darken($main-color, 5%);
        }
    }

    &__button {
        margin-bottom: 36px;
    }
}