mixin cuisines(data)
    section.cuisines#cuisines
        h2.cuisines__title.title.title--center Browse by cuisines

        ul.cuisines__list
            each title, key in data.titles
                li.cuisines__item(data-aos="fadeInUp delay-" + (key+1))
                    a(href="#" style="background-image: url(img/" + title + ".jpg)").cuisines__link
                        .cuisines__item-count= data.count[key]
                        h3.cuisines__item-title= title